@charset "utf-8";
@import "normalize";
@import "prism.css";
@import "ghpages-materialize.css";



#i1{

padding-top: 100px;

}
#i2{
  background-color: indianred;
  height: 690px;
  padding-left: 280px;
  color: cornflowerblue;
  width: 1300px;
}
#i3{
  color: white;
}

#i4{
  padding-top: 0px;
}

#i5{
padding-left: 50px;
  font-size: 70px;
}

#i6{
  background-color: #4d4d4d;
  height: 70px;
  width: 1020px;
padding-left: 50px;
}
#i7{
  width: 50px;
}
#i8{
  color: indianred;
}

#i9{
  color: black;
}
#i10{
  background-color: indianred;
  height: 300px;
  color: white;
}
#i11{

  background-color: red;
  height: 50px;
}
footer{
  min-height: 30px;
  background-color: #f3989b;
}